<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="RdKafka" version="0.9.2-ci-171" targetFramework="net451" />
  <package id="RdKafka.Internal.librdkafka" version="0.9.1" targetFramework="net461" />
</packages>